* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  max-width: 1440px;
  margin: auto;
}

.cards-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards-section .cards-section__introduction {
  margin-top: 2.5em;
  text-align: center;
  -webkit-animation: 1s ease-in 0s 1 showIt;
          animation: 1s ease-in 0s 1 showIt;
}

.cards-section .cards-section__introduction h1 {
  font-size: 2.5em;
  font-weight: 200;
  color: #4c4e61;
}

.cards-section .cards-section__introduction h2 {
  font-weight: 600;
  font-size: 2.5em;
  color: #4c4e61;
}

.cards-section .cards-section__introduction p {
  color: #a3a5ae;
  margin-top: 1em;
  display: inline-block;
  font-size: 1.1em;
  width: 60%;
}

.cards-section .cards-section__cards {
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-animation: 1s ease-in 0.1s 1 showIt;
          animation: 1s ease-in 0.1s 1 showIt;
}

.cards-section .cards-section__cards .twocards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cards-section .cards-section__cards .card {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  height: 250px;
  width: 350px;
  background-color: #fafafa;
  border: 1px solid #fafafa;
  -webkit-box-shadow: 0 15px 25px 0 rgba(163, 165, 174, 0.4);
          box-shadow: 0 15px 25px 0 rgba(163, 165, 174, 0.4);
  border-radius: 10px;
  padding: 1.8em;
  margin: 1em;
  position: relative;
}

.cards-section .cards-section__cards .card h3 {
  font-size: 1.3em;
  color: #4c4e61;
}

.cards-section .cards-section__cards .card p {
  color: #a3a5ae;
  margin-top: 1em;
  font-weight: 200;
  font-size: 0.9em;
  letter-spacing: 0.05em;
}

.cards-section .cards-section__cards .card img {
  position: absolute;
  bottom: 35px;
  right: 35px;
}

.cards-section .cards-section__cards .supervisor {
  border-top: 5px solid #45d3d3;
}

.cards-section .cards-section__cards .builder {
  border-top: 5px solid #ea5353;
}

.cards-section .cards-section__cards .karma {
  margin-top: 2em;
  border-top: 5px solid #fcaf4a;
}

.cards-section .cards-section__cards .calculator {
  border-top: 5px solid #549ef2;
}

@media screen and (max-width: 1150px) {
  .cards-section__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .twocards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@-webkit-keyframes showIt {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes showIt {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
/*# sourceMappingURL=style.css.map */